@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anek+Malayalam&family=Anton&family=Averia+Sans+Libre:wght@300&family=Barlow:ital@1&family=Bungee+Spice&family=Fira+Sans:wght@200&family=Kufam&family=Mina&family=Montserrat:wght@100;800&family=Noto+Sans&family=Permanent+Marker&family=Philosopher&family=Play&family=Redressed&family=Roboto+Mono:wght@400;500&family=Roboto:ital,wght@0,100;0,400;0,500;1,100&family=Supermercado+One&family=Tienne:wght@900&family=Ubuntu:wght@300&family=ZCOOL+QingKe+HuangYou&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}